{% extends "base.html" %}

{% block title %}
class="like_button btn btn-{% if user not in user_likes %}outline{% endif %}-primary"
    Tweeter Feed
{% endblock title %}

{% block content%}
<div class="row">
    <div class="col-12 justify-content-center align-items-center">
        <h1>
            Tweeter Feed
        </h1>
        <a href="{% url 'twit_new' %}" class="btn btn-primary float-end" style="border-radius:25px;">
            New Twit
        </a>
    </div>
  </div>
  <br>
{% for twit in twit_list %}
<div class="card">
    <div class="card-header justify-content-center align-items-center">
        <span class="text-muted">
            By: 
            <a href="{% url 'accounts:public_profile' twit.user.pk %}">
                {{ twit.user }} | {{ twit.created }}
            </a>
        </span>
    </div>
    <div class="card-body text-start">
        {% if twit.img_url and twit.img_url != 'default.jpg' %}
        <img src="{{ twit.img_url }}" class="img-fluid twit-img">
        {% endif %}
        <p>
            {{ twit.body }}
        </p>
        <p>
            {% with user_likes=twit.likes.all %}
            <button 
                class="like_button btn btn-primary"
                data-id="{{ twit.id }}"
                data-action="{% if user in user_likes %}un{% endif %}like"
                data-like-url="{{ twit.get_like_url }}"
            >
                <i class="like_icon bi-hand-thumbs-up-{% if user in user_likes %}fill{% endif %}">
                </i>
                <span class="like_count">{{ user_likes|length }}</span>
                Likes
            </button>
            {% endwith %}
        </p>
        <a href="{% url 'comment_new' twit.pk %}">
            Comment
        </a>
        {% if twit.user == user %}
        |
        <a href="{% url 'twit_edit' twit.pk %}">
            Edit
        </a> | 
    </a>
        <a href="{% url 'twit_delete' twit.pk %}">
            Delete
        </a>
    </div>
        {% endif %}
    <div class="card-footer text-center text-muted">
        <p>
        {{ twit.comment_count }}
        <a href="{% url 'twit_list' %}"> 
            View All Comments
        </a>
        </p>
    </div>
</div>
<br />
{% endfor %}
<footer class="footer pt-3">
    <div class="mx-2">
        <span class="text-muted">
            &copy; 2022 - Marissa Wagner
        </span>
    </div>
</footer>

{% endblock %}