{% extends "base.html" %}

{% block title %}
    Tweeter Feed
{% endblock title %}

{% block content%}
{% for twit in twit_list %}
<div class="card">
    <div class="card-header justify-content-center align-items-center">
        <span class="font-weight-bold">
            {{ twit.title }}
        </span> 
        &middot;
        <span class="text-muted">
            by 
            <!--<a href="{% url 'public_profile' twit.author.pk %}">-->
                {{ twit.author }} | {{ twit.created }}
        </span>
    </div>
    <div class="card-body">
        {% if twit.img_url and twit.img_url != 'default.jpg' %}
        <img src="{{ twit.img_url }}" class="img-fluid twit-img">
        {% endif %}
        <p>
            {{ twit.body }}
        </p>
        <p>
            {% with user_likes=twit.likes.all %}
            <button 
                data-id="{{ twit.id }}"
                data-action="{% if user in user_likes %}un{% endif %}like"
                data-like-url="{{ twit.get_like_url }}"
                class="like_button btn btn-{% if user not in user_likes %}outline{% endif %}-primary"
            >
                <i class="like_icon bi-hand-thumbs-up-{% if user in user_likes %}fill{% endif %}">
                </i>
                <span class="like_count">{{ user_likes|length }}</span>
                Likes
            </button>
            {% endwith %}
        </p>
        <a href="{% url 'comment_new' twit.pk %}">
            Comment
        </a>
        {% if twit.author == user %}
        |
        <a href="{% url 'twit_edit' twit.pk %}">
            Edit
        </a> | 
        <a href="{% url 'twit_delete' twit.pk %}">
            Delete
        </a>
        {% endif %}
    </div>
    <div class="card-footer text-center text-muted">
        <p>
            {{ twit.comment_count }}
            <a href="{% url 'twit_detail' twit.pk %}"> 
                View All
            </a>
        </p>
    </div>
    <!-- Changes end here! -->
</div>
<br />
{% endfor %}
<footer class="footer pt-3">
    <div class="mx-2">
        <span class="text-muted">
            &copy; 2022 - Marissa Wagner
        </span>
    </div>
</footer>

{% endblock %}